.banner {
    margin-top: 120px;
    width: 100%;
    height: 600px;
    @include tablet {
        height: 400px;
        margin-top: 110px;
    }
    @include mobile {
        margin-top: 85px;
    }
    &>.container {
        position: relative;
        height: 100%;
    }
}
.banner__background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    &-box {
        width: calc(100% / 3);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: bgChange 10s infinite ease;
    }
    &-box:nth-child(1) {
        width: 40%;
        border-top-left-radius: 40px;
        height: calc(100% / 5);
    }
    &-box:nth-child(2) {
        width: 40%;
        border-top-right-radius: 40px;
        height: calc(100% / 5);
    }
    &-box:nth-child(4) {
        width: calc(100% / 3);
        border-bottom-left-radius: 40px;
        height: calc(100% / 5 * 3);
    }
    &-box:nth-child(5) {
        width: calc(100% / 3);
        height: calc(100% / 5 * 3);
    }
    &-box:nth-child(6) {
        width: calc(100% / 3);
        border-top-right-radius: 40px;
        height: calc(100% / 5 * 3);
    }
    &-box:nth-child(8) {
        width: 40%;
        border-bottom-left-radius: 40px;
        height: calc(100% / 5);
    }
    &-box:nth-child(9) {
        width: 40%;
        border-bottom-right-radius: 40px;
        height: calc(100% / 5);
    }
    &-box:nth-child(3),
    &-box:nth-child(7) {
        width: 20%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: calc(100% / 5);
    }
    &-box-small {
        width: 50%;
        height: 50%;
        background-color: white;
    }
    &-box:nth-child(3) &-box-small:nth-child(3) {
        border-bottom-left-radius: 40px;
    }
    &-box:nth-child(7) &-box-small:nth-child(2) {
        border-top-right-radius: 40px;
    }
}
.banner__contacts {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    &-title {
        white-space: nowrap;
        font-size: 32px;
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        img {
            width: 48px;
            height: 48px;
        }
        @include tablet {
            font-size: 28px;
            img {
                width: 35px;
                height: 35px;
            }
        }
    }
    &-popup {
        min-width: 100%;
        position: absolute;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        border: 2px solid $purple;
        @include mobile {
            padding: 10px;
        }
    }
    &-popup::after {
        content: '';
        position: absolute;
        transform: translateX(-50%);
        border: 20px solid transparent;
    }
    &-item {
        font-size: 20px;
        white-space: nowrap;
        img {
            margin-right: 10px;
            width: 20px;
            height: 20px;
            object-fit: contain;
        }
        @include tablet {
            font-size: 16px;
            img {
                margin-right: 5px;
                width: 15px;
                height: 15px;
            }
        }
    }
    &-item:not(:last-child){
        margin-bottom: 10px;
    }
    span {
        @include mobile {
            display: none;
        }
    }
}
.banner__contacts.top {
    right: 10%;
    @include mobileXS {
        right: 15%;
    }
    .banner__contacts-popup {
        top: 100%;
        right: 0;
        margin-top: 20px;
        @include tablet {
            left: unset;
            right: 0;
        }
    }
    .banner__contacts-popup::after {
        top: -40px;
        right: 0;
        border-bottom: 20px solid $purple;
    }
}
.banner__contacts.bottom {
    left: 10%;
    @include mobileXS {
        left: 15%;
    }
    .banner__contacts-popup {
        bottom: 100%;
        left: 0;
        margin-bottom: 20px;
    }
    .banner__contacts-popup::after {
        bottom: -40px;
        left: 30%;
        border-top: 20px solid $purple;
    }
}
.banner__content {
    position: absolute;
    bottom: 11%;
    right: 2%;
    width: 80%;
    border-radius: 20px;
    z-index: 1;
    @include desktopXL {
        bottom: 14%;
    }
    @include tablet {
        width: 90%;
        padding: 15px;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        text-align: center;
    }
}
.banner__title {
    color: #fff;
    font-size: 85px;
    white-space: nowrap;
    text-shadow: -8px 0 $purple, 0 2px $purple, 2px 0 $purple, 0 -2px $purple;
    font-family: "Bodoni Moda", serif;
    font-style: italic;
    &-stroke {
        text-indent: 300px;
        @include desktop {
            text-indent: 250px;
        }
        @include tablet {
            text-indent: 0;
        }
    }
    @include desktopXL {
        font-size: 62px;
    }
    @include desktop {
        font-size: 55px;
    }
    @include tablet {
        white-space: normal;
        font-size: 48px;
        text-shadow: -5px 0 #951fd8, 0 2px #951fd8, 2px 0 #951fd8, 0 -2px #951fd8;
    }
    @include mobileXS {
        font-size: 30px;
        white-space: normal;
    }
    @include mobileXXS {
        font-size: 24px;
        white-space: normal;
    }
}

@keyframes bgChange {
    0% {
        background-image: url('../images/backgrounds/banner_1.jpg');
    }
    30% {
        background-image: url('../images/backgrounds/banner_2.jpg');
    }
    70% {
        background-image: url('../images/backgrounds/banner_1.jpg');
    }
    100% {
        background-image: url('../images/backgrounds/banner_1.jpg');
    }
}